body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header 작업 */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px; /*위 아래 10px, 양 옆 40px*/
  min-height: 40px; /*반응성에서도 중요한데, 화면이 작아짐에 따라 DOM이 해당 사이즈에 맞춰 작아져도, min 설정을 통해 최소한의 길이, 높이를 보증*/
  align-items: center; /*item들이 가운데에 있도록*/
}

/* header안에 있는 것들은 link(a태그)이므로 */
header a {
  margin: 0px 10px;
  text-decoration: none; /*text밑에 밑줄 제거*/
  color: gray;
}

header a:focus, a:hover {
  color: black;
}

/* footer 작업 */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex; /*flex의 기본 방향은 수평이기 때문에 수평으로 만들 수 있음*/
  align-items: center; /*flex된 item들을 수직기준 가운데 정렬*/
  justify-content: center; /*flex된 item들을 수평기준 가운데 정렬*/
  gap: 20px; /*item들 간의 간격*/
}
footer a {
  margin: 0px 10px;
  text-decoration: none; /*text밑에 밑줄 제거*/
  color: gray;
}
footer a:focus, a:hover {
  color: black;
}

/* post navigation 작업 */
.post__navigation {
  display: flex; /*양옆으로 흐르도록*/
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0px 20px;
}

.post__navigation--active {
  color: black;
  font-weight: 600; /*굵게*/
}

/* post list 작업 */
.post__list {
  /* vh경우 뷰포트 기준으로 90%를 준다는 뜻 */
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto; /*auto를 이용하면 가운데 정렬. padding은 auto값 선언 불가*/
  text-align: left;
  line-height: 24px; /*글씨라인이 다닥다닥 붙어있음을 방지하기 위해*/
}
.post__list a {
  text-decoration: none;
  color: black;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.post__profile-box {
  display: flex; /*양옆으로 흐르도록*/
  gap: 8px;
  font-size: 14px; /*폰트사이즈 조금 줄이기*/
  align-items: center;
}
.post__profile {
  width: 36px;
  height: 36px;
  background: #f2f2f2;
  border-radius: 50%; /*50%로 주면 원형이 됨*/
}
.post__author-name, 
.post__date {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post__text {
  color: dimgray;
  font-size: 16px;
}

.post__utils-box {
  display: flex; /*양옆으로 흐르도록*/
  gap: 8px;
  flex-direction: row-reverse; /*오른쪽으로 갈 수 있도록*/
  font-size: 14px;
  color: gray;
}
.post__delete:hover, 
.post__delete:focus {
  color: black;
}
.post__edit:hover, 
.post__edit:focus {
  color: black;
}